@import 'variables.scss';

:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
}

::-webkit-scrollbar {
    background-color: var(--bg-color);
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-button {
    width: 5px;
    height: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $first;

    &:hover {
        background-color: $second;
    }

    &:active {
        background-color: $third;
    }
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background-color: var(--bg-color);
}

body {
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}