$first: rgb(37, 37, 37);
$second: rgb(55, 55, 55);
$third: rgb(77, 77, 77);
$fourth: rgba(255, 255, 255, 0.1);
$fifth: rgba(255, 255, 255, 0.06);
$sixth: rgba(255, 255, 255, 0.4);
$seventh: rgb(240, 240, 240);
$eighth: rgba(255, 255, 255, 0.5);